<!DOCTYPE html>
<html lang="es-AR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/{{style}}.css">
  <title>Create Product</title>
</head>
<body>
  <div class="menu">
    <a href="/products/list">Ver productos</a>
    <a href="/products/create">Agregar producto</a>
  </div>
  {{{body}}}
</body>
</html>